---
import ProjectCard from "@/components/ProjectCard.astro";
import { getProjectsEntries } from "@/content/entries";
import { LOCALES, getTranslator } from "@/i18n";
import PageLayout from "@/layouts/PageLayout.astro";

const t = getTranslator(Astro.currentLocale);

const entries = await getProjectsEntries({ locale: Astro.currentLocale });

export const prerender = true;

export async function getStaticPaths() {
  return LOCALES.map((locale) => ({ params: { locale } }));
}
---

<PageLayout title={t("projects.title")} description={t("projects.description")}>
  <div class="space-y-10">
    <hgroup>
      <h1 class="mb-3 text-3xl font-semibold">{t("projects.title")}</h1>
      <p class="text-justify font-serif">{t("projects.description")}</p>
    </hgroup>

    <ul class="space-y-4">
      {
        entries.map((entry) => (
          <li>
            <ProjectCard entry={entry} />
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
