---
import { LOCALES, useTranslations } from "@i18n";
import { getProjectsEntries } from "@content/entries";
import PageLayout from "@layouts/PageLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";

const t = useTranslations(Astro.currentLocale);

const entries = await getProjectsEntries({ locale: Astro.currentLocale });

export const prerender = true;

export async function getStaticPaths() {
  return LOCALES.map((locale) => ({ params: { locale } }));
}
---

<PageLayout title={t("projects.title")} description={t("projects.description")}>
  <div class="space-y-10">
    <hgroup>
      <h1 class="mb-3 text-3xl font-semibold">{t("projects.title")}</h1>
      <p class="text-justify font-serif">{t("projects.description")}</p>
    </hgroup>

    <ul class="space-y-4">
      {
        entries.map((entry) => (
          <li>
            <ProjectCard entry={entry} />
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
