---
import type { CollectionEntry } from "astro:content";

import ProjectCard from "@/components/ProjectCard.astro";
import { getProjectsEntries } from "@/content/entries";
import { LOCALES, getTranslator } from "@/i18n";
import PageLayout from "@/layouts/PageLayout.astro";

const t = getTranslator(Astro.currentLocale);

const data = await getProjectsEntries({ locale: Astro.currentLocale });

type Acc = {
  [year: string]: CollectionEntry<"projects">[];
};

const projects = data.reduce((acc: Acc, project) => {
  const year = project.data.dateStart.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(project);
  return acc;
}, {});

const years = Object.keys(projects).sort((a, b) => parseInt(b) - parseInt(a));

export const prerender = true;

export async function getStaticPaths() {
  return LOCALES.map((locale) => ({ params: { locale } }));
}
---

<PageLayout title={t("projects.title")} description={t("projects.description")}>
  <div class="space-y-10">
    <hgroup>
      <h1 class="mb-3 text-3xl font-semibold">{t("projects.title")}</h1>
      <p class="text-justify font-serif">{t("projects.description")}</p>
    </hgroup>

    <div class="space-y-4">
      {
        years.map((year) => (
          <section>
            <div class="sticky top-0 z-10 bg-stone-100 py-2 text-lg font-semibold">{year}</div>
            <div>
              <ul class="flex flex-col gap-4">
                {projects[year].map((project) => (
                  <li>
                    <ProjectCard entry={project} />
                  </li>
                ))}
              </ul>
            </div>
          </section>
        ))
      }
    </div>
  </div>
</PageLayout>
