---
import ProjectCard from "@/components/ProjectCard.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { getProjectsWithStatsByYears } from "@/lib/collections";
import { LOCALES, getTranslator } from "@/lib/i18n";

const t = getTranslator(Astro.currentLocale);

const { projects, years } = await getProjectsWithStatsByYears({
  locale: Astro.currentLocale,
});

export const prerender = false;

export async function getStaticPaths() {
  return LOCALES.map((locale) => ({ params: { locale } }));
}
---

<PageLayout title={t("projects.title")} description={t("projects.description")}>
  <div class="space-y-10">
    <hgroup>
      <h1 class="mb-3 text-3xl font-semibold">{t("projects.title")}</h1>
      <p class="font-serif text-pretty">{t("projects.description")}</p>
    </hgroup>

    <div class="space-y-4">
      {years.map((year) => (
        <section>
          <div class="sticky top-12 z-10 bg-body py-2 text-lg font-semibold sm:top-16">{year}</div>
          <div>
            <ul class="flex flex-col gap-4">
              {projects[year].map((project) => (
                <li>
                  <ProjectCard entry={project} />
                </li>
              ))}
            </ul>
          </div>
        </section>
      ))}
    </div>
  </div>
</PageLayout>
