# General
dist
.astro
.solid
.output
.vercel
.netlify
.vinxi
.turbo

# Auto imports
auto-imports.d.ts

# Environment
.env
.env*.local

# dependencies
node_modules

# IDEs and editors
/.vs
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
app.config.timestamp*

# System Files
.DS_Store
Thumbs.db
