@layer base {
  html {
    color-scheme: light;
    scrollbar-color: theme(colors.stone.400) transparent;
    scrollbar-gutter: stable;
  }

  body {
    overflow-x: clip;
    touch-action: manipulation;
  }
}
