@layer base {
  html {
    color-scheme: light dark;
    scrollbar-color: light-dark(theme("colors.neutral.400"), theme("colors.neutral.500")) transparent;
  }

  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    scroll-behavior: smooth;
  }

  body[data-scroll-locked] {
    margin: 0 !important;
    padding: 0px !important;
  }

  body {
    overflow-x: clip;
    touch-action: manipulation;
  }

  ::selection {
    background: light-dark(theme("colors.blue.200"), theme("colors.blue.900"));
    color: light-dark(theme("colors.neutral.900"), theme("colors.neutral.100"));
  }

  [data-theme="dark"] {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
    }
  }

  .shiki,
  .shiki span {
    background-color: var(--color-body-alt) !important;
  }
}
