@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);
  --font-mono: var(--font-fira-code);
  --color-body: light-dark(var(--color-neutral-100), var(--color-neutral-900));
  --color-body-alt: light-dark(var(--color-neutral-200), var(--color-neutral-800));
  --color-foreground: light-dark(var(--color-neutral-900), var(--color-neutral-100));
}
