---
const props = Astro.props;

export type Props = {
  id: string;
};
---

<a
  href={`#${props.id}`}
  class="leading-none no-underline opacity-0 transition-opacity group-hover:opacity-50 group-hover:hover:opacity-75 sm:absolute sm:-left-10 sm:p-3"
>
  #
</a>
