---
import Anchor from "./Anchor.astro";

const props = Astro.props;
---

<h2 {...props} class="group relative flex scroll-mt-16 items-center space-x-1 sm:scroll-mt-24">
  <span>
    <slot />
  </span>
  <Anchor id={props.id} />
</h2>
