---
const props = Astro.props;
---

<h2 {...props} class="group relative flex scroll-mt-16 items-center space-x-1 sm:scroll-mt-24">
  <a
    href={`#${props.id}`}
    class="no-underline transition-colors duration-300 ease-in-out outline-none hover:text-current/75 focus-visible:text-current/75"
  >
    <slot />
  </a>
</h2>
