---
import Anchor from "./Anchor.astro";

const props = Astro.props;
---

<h2 {...props} class="group relative flex items-center space-x-1">
  <span>
    <slot />
  </span>
  <Anchor id={props.id} />
</h2>
