---
import Anchor from "./Anchor.astro";

const props = Astro.props;
---

<h3 {...props} class="group relative flex scroll-mt-14 items-center space-x-1 sm:scroll-mt-20">
  <span>
    <slot />
  </span>
  <Anchor id={props.id} />
</h3>
