---
const props = Astro.props;
---

<h3
  {...props}
  class="group relative flex scroll-mt-14 items-center space-x-1 sm:scroll-mt-20"
>
  <!-- biome-ignore lint/a11y/useAnchorContent: slot -->
  <a
    href={`#${props.id}`}
    class="no-underline transition-colors duration-300 ease-in-out outline-none hover:text-current/75 focus-visible:text-current/75"
  >
    <slot />
  </a>
</h3>
