---
import type { MarkdownHeading } from "astro";
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";
import { getTranslator } from "@/lib/i18n";
import { Link } from "../ui";

interface Props extends HTMLAttributes<"nav"> {
  headings: MarkdownHeading[];
}

const linkStyles = cva("py-0.5", {
  variants: {
    depth: {
      3: "ps-2.5",
      4: "ps-4.5",
      5: "ps-6.5",
      6: "ps-8.5",
    },
  },
});

const t = getTranslator(Astro.currentLocale);

const { headings, ...props } = Astro.props;
---

<nav class="sticky top-14 sm:py-8 py-4 px-4 lg:px-8 max-2xl:hidden" {...props}>
  <h2
    class="text-xs font-mono light:font-medium uppercase tracking-widest text-current/50 mb-1.5"
  >
    {t("toc")}
  </h2>
  <ul id="toc">
    {headings.map((heading) => (
      <li class={linkStyles({ depth: heading.depth as 3 | 4 | 5 | 6 })}>
        <Link href={`#${heading.slug}`}>
          {heading.text}
        </Link>
      </li>
    ))}
  </ul>
</nav>

<script is:inline>
function init() {
  const links = document.querySelectorAll("#toc a");
  const headings = document.querySelectorAll(
    "h2[id], h3[id], h4[id], h5[id], h6[id]",
  );

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          links.forEach((link) => {
            link.dataset.current =
              link.getAttribute("href")?.slice(1) === entry.target.id;
          });
        }
      });
    },
    { rootMargin: "0px 0px -80% 0px" },
  );

  headings.forEach((section) => {
    observer.observe(section);
  });
}

init();
document.addEventListener("astro:after-swap", init);
</script>
