---
import { LOCALES, useTranslations } from "@i18n";
import Container from "@components/Container.astro";
import Link from "./Link.astro";
import Nav from "./Nav.astro";
import { SOCIALS } from "@constants";

const t = useTranslations(Astro.currentLocale);
---

<footer class="py-6">
  <Container>
    <div class="flex items-center justify-between gap-2 max-sm:flex-col-reverse">
      <Link href={`/${Astro.currentLocale}`} underline={false}>
        <span class="font-semibold">
          {t("name")}
        </span>
      </Link>

      <div class="flex items-center max-sm:flex-col sm:ms-auto sm:gap-4">
        <Nav
          items={LOCALES.map((locale) => ({
            name: locale,
            href: Astro.currentLocale != null ? Astro.url.pathname.replace(Astro.currentLocale, locale) : `/${locale}`,
            active: locale === Astro.currentLocale,
          }))}
        />

        <Nav
          items={SOCIALS.map((social) => ({
            name: social.name,
            href: social.href,
            external: true,
            "aria-label": `${t("name")} — ${social.name}`,
          }))}
        />
      </div>
    </div>
  </Container>
</footer>
