---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import Nav from "./Nav.astro";
import { useTranslations } from "@i18n";

const t = useTranslations(Astro.currentLocale);
---

<header class="py-6">
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-y-2">
      <Link href={`/${Astro.currentLocale}`} underline={false}>
        <span class="font-semibold">
          {t("name")}
        </span>
      </Link>

      <Nav
        items={[
          {
            name: t("blog.title"),
            href: `/${Astro.currentLocale}/blog`,
          },
          {
            name: t("projects.title"),
            href: `/${Astro.currentLocale}/projects`,
          },
        ]}
      />
    </div>
  </Container>
</header>
