---
import { tv } from "tailwind-variants";

const styles = tv({
  base: [
    "inline-block text-foreground/75 decoration-foreground/15 transition-colors duration-300 ease-in-out outline-none",
    "hover:text-(--link-color) hover:decoration-(--link-color)/50",
    "focus-visible:text-(--link-color) focus-visible:decoration-(--link-color)/50",
  ],
  variants: {
    underline: {
      true: "underline underline-offset-6",
      false: "no-underline",
    },
    active: {
      true: "text-foreground decoration-foreground/75",
    },
  },
});

export type Props = {
  href: string;
  active?: boolean;
  external?: boolean;
  underline?: boolean;
  color?: string;
};

const { class: className, href, active: _active, external, underline = true, color = "unset", ...rest } = Astro.props;
const active = _active != null ? _active : Astro.url.pathname.includes(href);
---

<a
  href={href}
  rel={external === true ? "noopener noreferrer" : undefined}
  target={external === true ? "_blank" : "_self"}
  class={styles({ underline, active, className })}
  style={{ "--link-color": color }}
  {...rest}
>
  <slot />
</a>
