---
import { cva } from "class-variance-authority";

const styles = cva(
  [
    "inline-flex text-foreground/75 decoration-foreground/15 motion-safe:transition-colors motion-safe:duration-300 motion-safe:ease-in-out outline-none",
    "@hover:text-[var(--link-color)] @hover:decoration-[var(--link-color)]/50",
    "active:text-[var(--link-color)] active:decoration-[var(--link-color)]/50",
    "focus-visible:text-[var(--link-color)] focus-visible:decoration-[var(--link-color)]/50",
  ],
  {
    variants: {
      underline: {
        true: "underline underline-offset-6",
        false: "no-underline",
      },
      active: {
        true: "text-foreground decoration-foreground/75",
      },
    },
  },
);

export type Props = {
  class?: string;
  href: string;
  active?: boolean;
  external?: boolean;
  underline?: boolean;
  color?: string;
};

const {
  class: className,
  href,
  active: _active,
  external,
  underline = true,
  color = "unset",
  ...props
} = Astro.props;

const active = _active != null ? _active : Astro.url.pathname.includes(href);

const style = { "--link-color": color };
---

<!-- biome-ignore lint/a11y/useAnchorContent: slot -->
<a
  href={href}
  rel={external === true ? "noopener noreferrer" : undefined}
  target={external === true ? "_blank" : "_self"}
  class={styles({ underline, active, className })}
  style={style}
  {...props}
>
  <slot />
</a>
