---
import { tv } from "tailwind-variants";

const styles = tv({
  base: [
    "inline-block text-black/75 decoration-black/15 transition-colors duration-300 ease-in-out",
    "hover:text-(--link-color) hover:decoration-(--link-color)/50",
  ],
  variants: {
    underline: {
      true: "underline decoration-wavy underline-offset-2",
      false: "no-underline",
    },
    active: {
      true: "text-black decoration-black/75",
    },
  },
});

export type Props = {
  href: string;
  active?: boolean;
  external?: boolean;
  underline?: boolean;
  color?: string;
};

const { href, active: _active, external, underline = true, color = "#000000", ...rest } = Astro.props;
const active = _active != null ? _active : Astro.url.pathname.includes(href);
---

<a
  href={href}
  rel={external === true ? "noopener noreferrer" : undefined}
  target={external === true ? "_blank" : "_self"}
  class={styles({ underline, active })}
  style={{ "--link-color": color }}
  {...rest}
>
  <slot />
</a>
