---
import { cx } from "class-variance-authority";
import Link, { type Props as LinkProps } from "./Link.astro";

type Props = {
  items: ({
    name: string;
    href: string;
  } & LinkProps)[];
  separator?: string;
  class?: string;
};

const { items, separator = "/", class: className, ...rest } = Astro.props;
---

<nav {...rest}>
  <ul class={cx("flex gap-1", className)}>
    {items.map((item, index) => {
        const { href, name, ...rest } = item;

        return (
          <li class="flex gap-1 text-nowrap">
            <Link href={href} {...rest}>
              {name}
            </Link>
            {index + 1 !== items.length && separator}
          </li>
        );
      })}
  </ul>
</nav>
