---
import type { InferEntrySchema } from "astro:content";

import { getProjectStars } from "@/content/stars";

type Props = {
  project: InferEntrySchema<"projects">;
};

const { project, ...props } = Astro.props;

const stars = await getProjectStars(project);
---

{
  stars !== null && (
    <p class="flex items-center gap-1" {...props}>
      <IconOcticonStar16 className="size-4" />
      {stars}
    </p>
  )
}
