---
import Skill from "@components/Skill.astro";
import SkillIconsAstroDark from "~icons/skill-icons/astro";
import SkillIconsCsDark from "~icons/skill-icons/cs";
import SkillIconsCssDark from "~icons/skill-icons/css";
import SkillIconsDjangoDark from "~icons/skill-icons/django";
import SkillIconsDockerDark from "~icons/skill-icons/docker";
import SkillIconsFastapiDark from "~icons/skill-icons/fastapi";
import SkillIconsFigmaDark from "~icons/skill-icons/figma-dark";
import SkillIconsGitDark from "~icons/skill-icons/git";
import SkillIconsGitlabDark from "~icons/skill-icons/gitlab-dark";
import SkillIconsGolang from "~icons/skill-icons/golang";
import SkillIconsGrafanaDark from "~icons/skill-icons/grafana-dark";
import SkillIconsHtmlDark from "~icons/skill-icons/html";
import SkillIconsJavascriptDark from "~icons/skill-icons/javascript";
import SkillIconsLatexDark from "~icons/skill-icons/latex-dark";
import SkillIconsLinuxDark from "~icons/skill-icons/linux-dark";
import SkillIconsMarkdownDark from "~icons/skill-icons/markdown-dark";
import SkillIconsMysqlDark from "~icons/skill-icons/mysql-dark";
import SkillIconsNeovimDark from "~icons/skill-icons/neovim-dark";
import SkillIconsNginxDark from "~icons/skill-icons/nginx";
import SkillIconsNixDark from "~icons/skill-icons/nix-dark";
import SkillIconsObsidianDark from "~icons/skill-icons/obsidian-dark";
import SkillIconsPostgresDark from "~icons/skill-icons/postgresql-dark";
import SkillIconsPrometheusDark from "~icons/skill-icons/prometheus";
import SkillIconsPyDark from "~icons/skill-icons/python-dark";
import SkillIconsRedisDark from "~icons/skill-icons/redis-dark";
import SkillIconsRegexDark from "~icons/skill-icons/regex-dark";
import SkillIconsRust from "~icons/skill-icons/rust";
import SkillIconsScssDark from "~icons/skill-icons/sass";
import SkillIconsSolidjsDark from "~icons/skill-icons/solidjs-dark";
import SkillIconsSqliteDark from "~icons/skill-icons/sqlite";
import SkillIconsTailwindDark from "~icons/skill-icons/tailwindcss-dark";
import SkillIconsTypescriptDark from "~icons/skill-icons/typescript";
import SkillIconsVscodeDark from "~icons/skill-icons/vscode-dark";
---

<div class="group flex flex-wrap items-center gap-2 max-sm:justify-center">
  <Skill href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" title="JavaScript">
    <SkillIconsJavascriptDark />
  </Skill>
  <Skill href="https://www.typescriptlang.org/" title="TypeScript">
    <SkillIconsTypescriptDark />
  </Skill>
  <Skill href="https://developer.mozilla.org/en-US/docs/Web/HTML" title="HTML">
    <SkillIconsHtmlDark />
  </Skill>
  <Skill href="https://developer.mozilla.org/en-US/docs/Web/CSS" title="CSS">
    <SkillIconsCssDark />
  </Skill>
  <Skill href="https://sass-lang.com/" title="Sass/SCSS">
    <SkillIconsScssDark />
  </Skill>
  <Skill href="https://docs.microsoft.com/en-us/dotnet/csharp/" title="C#">
    <SkillIconsCsDark />
  </Skill>
  <Skill href="https://www.rust-lang.org/" title="Rust">
    <SkillIconsRust />
  </Skill>
  <Skill href="https://go.dev/" title="Golang">
    <SkillIconsGolang />
  </Skill>
  <Skill href="https://www.python.org/" title="Python">
    <SkillIconsPyDark />
  </Skill>
  <Skill href="https://docs.solidjs.com/" title="SolidJS">
    <SkillIconsSolidjsDark />
  </Skill>
  <Skill href="https://tailwindcss.com/" title="Tailwind CSS">
    <SkillIconsTailwindDark />
  </Skill>
  <Skill href="https://www.djangoproject.com/" title="Django">
    <SkillIconsDjangoDark />
  </Skill>
  <Skill href="https://fastapi.tiangolo.com/" title="FastAPI">
    <SkillIconsFastapiDark />
  </Skill>
  <Skill href="https://astro.build/" title="Astro">
    <SkillIconsAstroDark />
  </Skill>
  <Skill href="https://redis.io/" title="Redis">
    <SkillIconsRedisDark />
  </Skill>
  <Skill href="https://www.postgresql.org/" title="PostgreSQL">
    <SkillIconsPostgresDark />
  </Skill>
  <Skill href="https://www.mysql.com/" title="MySQL">
    <SkillIconsMysqlDark />
  </Skill>
  <Skill href="https://www.sqlite.org/" title="SQLite">
    <SkillIconsSqliteDark />
  </Skill>
  <Skill href="https://www.docker.com/" title="Docker">
    <SkillIconsDockerDark />
  </Skill>
  <Skill href="https://nginx.org/" title="Nginx">
    <SkillIconsNginxDark />
  </Skill>
  <Skill href="https://prometheus.io/" title="Prometheus">
    <SkillIconsPrometheusDark />
  </Skill>
  <Skill href="https://grafana.com/" title="Grafana">
    <SkillIconsGrafanaDark />
  </Skill>
  <Skill href="https://git-scm.com/" title="Git">
    <SkillIconsGitDark />
  </Skill>
  <Skill href="https://gitlab.com/" title="GitLab">
    <SkillIconsGitlabDark />
  </Skill>
  <Skill href="https://www.linux.org/" title="Linux">
    <SkillIconsLinuxDark />
  </Skill>
  <Skill href="https://code.visualstudio.com/" title="Visual Studio Code">
    <SkillIconsVscodeDark />
  </Skill>
  <Skill href="https://neovim.io/" title="Neovim">
    <SkillIconsNeovimDark />
  </Skill>
  <Skill href="https://nix.dev/" title="Nix">
    <SkillIconsNixDark />
  </Skill>
  <Skill href="https://www.figma.com/" title="Figma">
    <SkillIconsFigmaDark />
  </Skill>
  <Skill href="https://obsidian.md/" title="Obsidian">
    <SkillIconsObsidianDark />
  </Skill>
  <Skill href="https://www.markdownguide.org/" title="Markdown">
    <SkillIconsMarkdownDark />
  </Skill>
  <Skill href="https://www.latex-project.org/" title="LaTeX">
    <SkillIconsLatexDark />
  </Skill>
  <Skill href="https://www.regular-expressions.info/" title="Regular Expressions">
    <SkillIconsRegexDark />
  </Skill>
</div>
