---
import { tv, type VariantProps } from "tailwind-variants";

const styles = tv({
  base: [
    "size-12 transition outline-none",
    "group-focus-within:not-focus-visible:brightness-50",
    "group-hover:not-hover:brightness-50",
    "active:scale-95",
  ],
  variants: {
    knowledge: {
      25: "brightness-25",
      50: "brightness-50",
      75: "brightness-75",
      100: "brightness-100",
    },
  },
  defaultVariants: {
    knowledge: 100,
  },
});

type Props = VariantProps<typeof styles> & {
  href: string;
  title: string;
};

const { href, title, knowledge } = Astro.props;
---

<a href={href} title={title} target="_blank" rel="noopener noreferrer" class={styles({ knowledge })}>
  <slot />
</a>
