---
import { Head, Header } from "@/components/site";
import { Container } from "@/components/ui";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html
  lang={Astro.currentLocale}
  class="scheme-light-dark [scrollbar-gutter:stable] scroll-smooth selection:bg-selection selection:text-selection-foreground [scrollbar-color:light-dark(theme('colors.neutral.400'),theme('colors.neutral.500'))_transparent]"
  transition:name="root"
  transition:animate="none"
>
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class="flex min-h-dvh flex-col bg-body text-foreground overflow-x-clip touch-manipulation"
  >
    <Header transition:name="header" transition:animate="none" />
    <main class="grow pt-4 pb-8" transition:animate="fade">
      <Container><slot /></Container>
    </main>
  </body>
</html>
