---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Container from "@components/Container.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <Head title={title} description={description} />
  </head>
  <body
    class="flex flex-col min-h-screen bg-stone-100"
    transition:animate="none"
  >
    <Header />
    <main class="py-8 grow">
      <Container>
        <slot />
      </Container>
    </main>
    <Footer />
  </body>
</html>
