---
import Container from "@components/Container.astro";
import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale} transition:animate="none">
  <head>
    <Head title={title} description={description} />
  </head>
  <body class="flex min-h-dvh flex-col bg-stone-100" transition:animate="none">
    <Header />
    <main class="grow py-4">
      <Container>
        <slot />
      </Container>
    </main>
    <Footer />
  </body>
</html>
