---
import type { HTMLAttributes } from "astro/types";
import { cx } from "class-variance-authority";

type Props = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props;
---

<div class={cx("mx-auto max-w-screen-md px-4 lg:px-8", className)} {...props}>
  <slot />
</div>
