---
import type { HTMLAttributes } from "astro/types";
import { cva } from "class-variance-authority";

const styles = cva(
  [
    "inline-flex text-current/75 decoration-current/15 outline-none",
    "motion-safe:(transition duration-300 ease-in-out)",
    "@hover:(text-current decoration-current/50)",
    "focus-visible:(text-current decoration-current/50)",
    "active:(text-current! decoration-current/75!)",
  ],
  {
    variants: {
      underline: {
        true: "underline underline-offset-6",
      },
    },
  },
);

export type Props = HTMLAttributes<"a"> & {
  underline?: boolean;
};

const { underline = true, class: className, ...props } = Astro.props;
---

<!-- biome-ignore lint/a11y/useAnchorContent: slot -->
<a class={styles({ underline, className })} {...props}><slot /></a>
